@use './media-queries';


html{
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .m-guardar{
  margin-left: 3rem;
}
