
.card {
    border:none;
    background-color:none;
    
}
.square {
   border-radius: 5rem;
    background: #f8be53;
   
}
.square-sm {
    border-radius: 2rem;
     background: #f8be53;
     height: 130px;
     width: 470px;
     
 }
.rectangle{
    background: #f8be53;
   
}


html{
   
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a:hover{
    color: #ff5d07;
}





.card:hover{
transform: scale(1.1);
box-shadow: #4e360a;

}


.card{
    transition: transform .5s;
   
}

.card-img{
    height:160px !important;
    object-fit: cover;
}

.card-img-cats{
    height:400px !important;
    object-fit: cover;
    border-radius: 35px;
}

.recipes-imgs{

    object-fit: cover;
}
.food-image-container{
    background-image:no-repeat;
    background-size: cover;
    opacity: 0.6;
    height: 100vh;
}


 //media queries  



@media (max-width:991px){

body{
    overflow-x: hidden;
}
    html{
        font-size: 55%;
        
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }
  

}

//Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) { 

    body{
        overflow-x: hidden;
    }

}


 //Extra small devices (phones, 600px and down) *
@media only screen and (max-width: 600px){
    body{
        overflow-x: hidden;
    }

}





 //Small devices (portrait tablets and large phones, 600px and up) *
@media only screen and (min-width: 600px) {

    
body{
    overflow-x: hidden;

}


}