@use 'utils/vars';

.card {
    border:vars.$clr-dark;
    border: 2rem;
    background-color:none;
    
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a:hover{
    color: #ff5d07;
}


.card:hover{ //animation
transform: scale(1.02);
background-color: rgb(182, 182, 182);

}


.card{//animation
    transition: transform .2s;
    border:vars.$clr-dark;
   
}

.card-img{
    height:180px !important;
    object-fit: cover;
    
}

.card-img-cats{
    height:400px !important;
    object-fit: cover;
    border-radius: 35px;
}

.recipes-imgs{

    object-fit: cover;
}
.food-image-container{
    background-image:no-repeat;
    background-size: cover;
    opacity: 0.6;
    height: 100vh;
}






 //media queries  



@media (max-width:991px){

body{
    overflow-x: hidden;
}
    html{
        font-size: 55%;
        
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }
  

}

//Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) { 

    body{
        overflow-x: hidden;
    }

}


 //Extra small devices (phones, 600px and down) *
@media only screen and (max-width: 600px){
    body{
        overflow-x: hidden;
    }

    

}





 //Small devices (portrait tablets and large phones, 600px and up) *
@media only screen and (min-width: 600px) {

    
body{
    overflow-x: hidden;

}


}