@use 'utils/vars';
@use './media-queries';
@use'./utils/mixins';



.line{
	height: 3px;
	width: 100%;
	background:#C2D100;
	display: inline-block;
}

.btn-outline-success {
	
	border-radius:20px;
	border:2px solid #ff5d07;
	display:inline-block;
	cursor:pointer;
	color:#ff5d07;
	font-family:Arial;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
	
}
.btn-outline-success:hover {
	color: rgb(224, 93, 53);

    ;
}
.btn-outline-success:active {
	position:relative;
	top:1px;
}

.btn-outline-secondary {
	background-color: #ff5d07;
	border-radius:20px;
	border:2px solid #ff5d07;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
	
}
.btn-outline-secondary:hover {
	color: rgb(230, 91, 37);
	
}
.btn-outline-secondary:active {
	position:relative;
	top:1px;
}



.btn-header {
	
	background-color: #ff5d07;
	border-radius:42px;
		border:1px solid #ff5d07;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:'Nunito';
	font-size:20px;
	padding:7px 76px;
	text-decoration:none;


	
}
.btn-header:hover {
	color: rgb(58, 131, 44);
	
}

.btn-header:active {
	position:relative;
	top:1px;
}




//botones

.like-btn{
    @include mixins.btn(false, vars.$clr-green, vars.$clr-green, vars.$clr-white );
    font-size:13px;
    margin: 0.3rem;
    padding: 8px;
   
    @include media-queries.respond-to (media-queries.$phone){
        font-size:9px;
       margin-bottom: 5px;
       padding: 8px;
        
        }
    
}

.unlike-btn{
    @include mixins.btn(false, vars.$clr-red, vars.$clr-red, vars.$clr-white);
    font-size:13px;
    margin: 0.3rem;
    padding: 8px;
    @include media-queries.respond-to (media-queries.$phone){
        font-size:9px;
       margin-bottom: 5px;
       padding: 8px;
        
        }
}

.recipecrd-btn{
    @include mixins.btn(false, vars.$clr-orange, vars.$clr-orange, vars.$clr-white);
    font-size:13px;
    margin: 0.3rem;
    padding: 8px;
    @include media-queries.respond-to (media-queries.$phone){
        font-size:10px;
       margin-bottom: 5px;
       padding: 8px;
       
        }
    
}

.signup-btn{
    @include mixins.btn(false, vars.$clr-dark, vars.$clr-dark, vars.$clr-white);
   
}
.login-btn{
    @include mixins.btn(false, vars.$clr-white, vars.$clr-white, vars.$clr-orange);
   

}

.savedrec-btn{
    @include mixins.btn(false, vars.$clr-green, vars.$clr-green, vars.$clr-dark);
   

}

