@use 'utils/vars';
@use 'media-queries';




.line{
	height: 3px;
	width: 100%;
	background:#C2D100;
	display: inline-block;
}

.btn-outline-success {
	
	border-radius:20px;
	border:2px solid #ff5d07;
	display:inline-block;
	cursor:pointer;
	color:#ff5d07;
	font-family:Arial;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
	
}
.btn-outline-success:hover {
	color: rgb(224, 93, 53);

    ;
}
.btn-outline-success:active {
	position:relative;
	top:1px;
}

.btn-outline-secondary {
	background-color: #ff5d07;
	border-radius:20px;
	border:2px solid #ff5d07;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	padding:5px 15px;
	text-decoration:none;
	
}
.btn-outline-secondary:hover {
	color: rgb(230, 91, 37);
	
}
.btn-outline-secondary:active {
	position:relative;
	top:1px;
}

.btn-card {
	
	font-family: "Nunito";
	font-weight: bold;
	font-size: 17px;
     background-color: #ff5d07;
	border-color: #f25000;
	border-radius: 28px;
	border-width: 4px;
	color: white;
	margin:5;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.btn-card:hover {
	background-color: #ff5d07;
}


.btn-card:active {
	position:relative;
	top:1px;
}


.btn-header {
	
	background-color: #ff5d07;
	border-radius:42px;
		border:1px solid #ff5d07;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:'Nunito';
	font-size:20px;
	padding:7px 76px;
	text-decoration:none;


	
}
.btn-header:hover {
	color: rgb(58, 131, 44);
	
}

.btn-header:active {
	position:relative;
	top:1px;
}


